/*
 * Typography
 * ======================================================================== */
 $font-size-initial:       14px; // reset default browser value from 16px to 13px
 $font-size-base:          1rem !default;
 $font-size-lg:            1.25rem !default;
 $font-size-sm:            0.875rem !default;
 $font-size-larger:        1.1rem;
 $font-size-mini:          0.9rem;
 $font-size-index:         0.7rem;
 
 $font-family-base: 'Montserrat', sans-serif;
 
 // Color system
 //
 
 $white:    #fff !default;
 $gray-100: #f8f9fa !default;
 $gray-200: #e9ecef !default;
 $gray-300: #d6dee5 !default;
 $gray-400: #c1ccd3 !default;
 $gray-500: #a3aeb7 !default;
 $gray-600: #798892 !default;
 $gray-700: #495057 !default;
 $gray-800: #3c484f !default;
 $gray-900: #29323a !default;
 $black:    #000 !default;
 $gray-light: $gray-100 !default;
 
 $blue:    #547fff !default;
 $indigo:  #7f3ddb !default;
 $purple:  #9964e3 !default;
 $pink:    #e54e9a !default;
 $red:     #f55d5d !default;
 $orange:  #ff7d47 !default;
 $yellow:  #ffc247 !default;
 $green:   #68ca66 !default;
 $teal:    #3abf94 !default;
 $cyan:    #17a2b8 !default;
 
 // Screen size system

 $mobile-size: 400px;

 $tablet-size: 750px;
 $tablet-size-md: 850px;
 $tablet-size-lg: 950px;

 $desktop-size: 1000px;
 $desktop-size-lg: 1200px;